force-app/main/default/flows/New_Meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>InputFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting Notes</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>New Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Meeting</label>
    <loops>
        <description>Creates the external attendees from the contacts selected</description>
        <name>Create_External_Attendees</name>
        <label>Create External Attendees</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>External_Attendees.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_EA</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loop through the internal attendees selected</description>
        <name>Create_Internal_Attendees</name>
        <label>Create Internal Attendees</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Internal_Attendees.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_IA_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_External_Attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_EA</name>
        <label>Create EA</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Create_External_Attendees</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendee_Contact__c</field>
            <value>
                <elementReference>Create_External_Attendees.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting__c</field>
            <value>
                <elementReference>Create_Meeting</elementReference>
            </value>
        </inputAssignments>
        <object>External_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_IA_Record</name>
        <label>Create IA Record</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Internal_Attendees</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendee_User__c</field>
            <value>
                <elementReference>Create_Internal_Attendees.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting__c</field>
            <value>
                <elementReference>Create_Meeting</elementReference>
            </value>
        </inputAssignments>
        <object>Internal_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Meeting</name>
        <label>Create Meeting</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>Meeting_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Notes__c</field>
            <value>
                <elementReference>MeetingNote.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Meeting_Summary</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Attendees</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Meeting</name>
        <label>New Meeting</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Meeting</targetReference>
        </connector>
        <fields>
            <name>Meeting_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Meeting Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Meeting_Summary</name>
            <dataType>String</dataType>
            <fieldText>Meeting Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MeetingNote</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableAdvancedTools</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>InputFieldLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Attendees</name>
        <label>Select Attendees</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Internal_Attendees</targetReference>
        </connector>
        <fields>
            <name>Select_Attendees_Label</name>
            <fieldText>Select Attendees</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Attendees_Label_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Internal_Attendees</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Internal Attendees (User)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Users</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-aee4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-0105&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>External_Attendees</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>External Attendees (Contact)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Related_Contacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e0ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-e631&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Meeting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the starting record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
